<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts Student Database</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<ul>
  <li><h3>Student Database</h3></li>
  <li><a href="/students">All Students List</a></li>
  <li><a href="/students/new">Add a new student</a></li>
  <hr>
  <li><a href="https://www.google.com">Philosopher's Stone</a></li>
  <li><a href="https://www.stackoverflow.com">Chamber of Secrets</a></li>
</ul>
<div style="margin-left:25%;padding:1px 16px;height:1000px;">
<%= yield %>
</div>
</body>
</html>